*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    background-color: #e5e5e5;
    padding: 1rem;
    margin: 0;
}

.content {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
}